<mat-grid-list cols="2" rowHeight="90px">

  <mat-grid-tile [colspan]=2>
    <h1>Honigraumwaage</h1>
  </mat-grid-tile>

  <mat-grid-tile [colspan]=2 [rowspan]=1 *ngIf="!schleuderung">
    <app-schleuderung-selection (schleuderungSelected)="schleuderungSelected($event)">
    </app-schleuderung-selection>
  </mat-grid-tile>


  <div *ngIf="(!selectionMode || !selectionModeReady) && schleuderung">
    <div *ngIf="!selectionMode">
      <mat-grid-tile [colspan]=2>
        <p>Die Waage bitte anschließen und auf Verbinden drücken.</p>
      </mat-grid-tile>

      <mat-grid-tile [colspan]=2>
        <button mat-raised-button color="primary" (click)="connectBLE()" >Verbinden</button>
      </mat-grid-tile>

      <mat-grid-tile [colspan]=2>
        <button mat-raised-button color="primary" (click)="manuel()">Manuell</button>
      </mat-grid-tile>
    </div> 
  </div>

  <div *ngIf="selectionMode && selectionModeReady">
    <mat-grid-tile [colspan]=1>
        <router-outlet ></router-outlet>
    </mat-grid-tile>

    <mat-grid-tile [colspan]=1>
      <mat-form-field class="input-width">
        <input type="number" matInput placeholder="Honigraumnummer" [(ngModel)]="number">
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile [colspan]=1>
      <mat-form-field class="input-width">
        <input type="number" min="1" max="6" matInput placeholder="Wirrbaunote" [(ngModel)]="wirrbaunote">
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile [colspan]=1 [rowspan]="1">
      <button mat-raised-button color="primary" (click)="send()"
        [disabled]="!wirrbaunote || !number || !weight">Senden</button>
    </mat-grid-tile>
  </div>
</mat-grid-list>