
<mat-grid-list cols="2" rowHeight="90px">

    <mat-grid-tile [colspan]=2>
      <h1>Honigraumwaage</h1>
    </mat-grid-tile>

    <mat-grid-tile [colspan]=2 *ngIf="!bleConnectionEstablished && !bleIsConnecting">
        <p>Die Waage bitte anschließen und auf Verbinden drücken.</p>
    </mat-grid-tile>

  <mat-grid-tile [colspan]=2 *ngIf="!bleConnectionEstablished && !bleIsConnecting">
    <button mat-raised-button color="primary" (click)="connectBLE()">Verbinden</button>
  </mat-grid-tile>

  <mat-grid-tile [colspan]=2 *ngIf="bleIsConnecting">
    <mat-spinner [diameter]="80"></mat-spinner>
  </mat-grid-tile>

  <mat-grid-tile [colspan]=2 *ngIf="bleError && !bleIsConnecting">
    Es kam zu dem untenstehenden Fehler bei der Bluetooth-Verbindung.
    Vielleicht einfach nochmal probieren....
    <pre>{{bleError | json}}</pre>
  </mat-grid-tile>

  <div *ngIf="bleConnectionEstablished && !isCalibrated">
      <mat-grid-tile [colspan]=2>
        <h2>Kalibrierungsmodus</h2>
      </mat-grid-tile>
      <mat-grid-tile [colspan]=2>
          <p>Die Waage bitte so vorbereiten, dass ein Honigraum darauf gestellt werden kann. Das schließt Distanzhölzchen ein. Aber <strong>ohne</strong> Honigraum.</p>
        </mat-grid-tile>

      <mat-grid-tile [colspan]=1>
        <mat-form-field class="input-width">
          <input matInput readonly placeholder="Gewicht" [value]="weight">
          <span matSuffix>Kg</span>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile [colspan]=1 [rowspan] = "1">
        <button mat-raised-button color="primary" (click)="calibrate()">Kalibrieren</button>
      </mat-grid-tile>

  </div>


  <div *ngIf="bleConnectionEstablished && isCalibrated">
    <mat-grid-tile [colspan]=1>
      <mat-form-field class="input-width">
        <input matInput readonly placeholder="Gewicht" [value]="weight">
        <span matSuffix>Kg</span>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile [colspan]=1>
      <mat-form-field class="input-width">
        <input type="number" matInput placeholder="Honigraumnummer" [(ngModel)]="number">
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile [colspan]=1>
      <mat-form-field class="input-width">
        <input type="number" min="1" max="6" matInput placeholder="Wirrbaunote" [(ngModel)]="wirrbaunote">
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile [colspan]=1 [rowspan] = "1">
      <button mat-raised-button color="primary" (click)="send()" [disabled]="!wirrbaunote || !number || !weight">Senden</button>
    </mat-grid-tile>
  </div>
</mat-grid-list>