<mat-grid-list cols="3" rowHeight="90px">

  <mat-grid-tile [colspan]=3>
    <h1>Volknummer zu Honigraum</h1>
  </mat-grid-tile>

  <!-- schleuderungAktive -> main part -->
  <form *ngIf="schleuderungAktive" [formGroup]="form" (ngSubmit)="onSubmit()">

    <mat-grid-tile [colspan]=2>
      <mat-form-field>
        <!-- TODO Set focus here after click on senden-->
        <input type="number" matInput placeholder="Kastennummer" formControlName="hiveMark">
      </mat-form-field>
    </mat-grid-tile>
    <!-- TODO fix tab. Should move frome Kastennumer to Honiggraumnummer and not Kastennummer to Senden-->
    <mat-grid-tile [colspan]=1>
      <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Senden</button>
    </mat-grid-tile>

    <div formArrayName="supperMarks">
      <div *ngFor="let s of supperMarks.controls; let i=index">
        <mat-grid-tile [colspan]=3>
          <mat-form-field>
            <!-- TODO add new empty input after the last one is filled and remove button-->
            <input type="number" matInput placeholder="Honigraumnummer" [formControlName]="i">
          </mat-form-field>
        </mat-grid-tile>
      </div>
    </div>

    <mat-grid-tile [colspan]=3>
      <button mat-raised-button type="button" color="primary" (click)="addSupperMark()">Honigraum hinzufügen</button>
    </mat-grid-tile>
  </form>

  <!-- No schleuderungAktive, this may be an extra component which bind to schleuderung aktive -->
  <ng-container *ngIf="!schleuderungAktive">
    <mat-grid-tile [colspan]=3>
      <h2>Es wurde keine Schleuderung eingegeben!</h2>
    </mat-grid-tile>
    <mat-grid-tile [colspan]=3>
      <h3>Bitte gehen Sie ins Hauptmenu und geben Sie eine Schleuderung ein!</h3>
    </mat-grid-tile>
  </ng-container>

</mat-grid-list>