
<mat-grid-list cols="1" rowHeight="90px">

  <mat-grid-tile>
    <h1>Honigraumwaage</h1>
  </mat-grid-tile>

  <mat-grid-tile *ngIf="!bleConnectionEstablished && !bleIsConnecting">
    <button mat-raised-button color="primary" (click)="connectBLE()">Verbinden</button>
  </mat-grid-tile>

  <mat-grid-tile *ngIf="bleIsConnecting">
    <mat-spinner [diameter]="80"></mat-spinner>
  </mat-grid-tile>

  <mat-grid-tile *ngIf="bleError && !bleIsConnecting">
    Es kam zu dem untenstehenden Fehler bei der Bluetooth-Verbindung.
    Vielleicht einfach nochmal probieren....
    <pre>{{bleError | json}}</pre>
  </mat-grid-tile>

  <div *ngIf="bleConnectionEstablished">
    <mat-grid-tile>
      <mat-form-field class="input-width">
        <input matInput readonly placeholder="Gewicht" [value]="weight">
        <span matSuffix>Kg</span>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field class="input-width">
        <input type="number" matInput placeholder="Nummer" [(ngModel)]="number">
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <button mat-raised-button color="primary" (click)="send()" [disabled]="!number || !weight">Senden</button>
    </mat-grid-tile>
  </div>
</mat-grid-list>