<mat-grid-list cols="1" rowHeight="90px">

    <mat-grid-tile [colspan]=1>
        <button mat-raised-button color="primary" routerLink="create-harvest">Schleuderung eingeben</button>
    </mat-grid-tile>

    <mat-grid-tile [colspan]=1>
        <button mat-raised-button color="primary" routerLink="enter">Volknummer zu Honigraum</button>
    </mat-grid-tile>

    <mat-grid-tile [colspan]=1>
        <button mat-raised-button color="primary" routerLink="overview">Uebersicht</button>
    </mat-grid-tile>

    <mat-grid-tile [colspan]=1>
        <button mat-raised-button color="primary" routerLink="send">Abschicken</button>
    </mat-grid-tile>

</mat-grid-list>