<mat-grid-list cols="1" rowHeight="90px">

  <mat-grid-tile *ngIf="!bleConnectionEstablished">
    <button mat-raised-button color="primary" (click)="connectBLE()">Verbinden</button>
  </mat-grid-tile>

  <div *ngIf="bleConnectionEstablished">
    <mat-grid-tile>
      <mat-form-field class="input-width">
        <input matInput readonly placeholder="Gewicht" [value]="weight">
        <span matSuffix>Kg</span>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field class="input-width">
        <input type="number" matInput placeholder="Nummer" [(ngModel)]="number">
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <button mat-raised-button color="primary"  (click)="send()">Senden</button>
    </mat-grid-tile>
  </div>
</mat-grid-list>