<mat-grid-list cols="1" rowHeight="90px">

  <mat-grid-tile [colspan]=1>
    <h1>Schleuderung</h1>
  </mat-grid-tile>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">

      <mat-grid-tile [colspan]=1>
          <mat-form-field>
            <input type="number" matInput placeholder="Jahr" formControlName="jahr">
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]=1>
          <mat-form-field>
            <input type="text" matInput placeholder="Sorte" formControlName="sorte">
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]=1>
          <mat-form-field>
            <input type="text" matInput placeholder="Standort" formControlName="standort">
          </mat-form-field>
        </mat-grid-tile>

    <mat-grid-tile [colspan]=1>
      <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Aktivieren</button>
    </mat-grid-tile>
  </form>

</mat-grid-list>